
#fenetre1{
    -fx-background-image: url("https://i.gaw.to/content/photos/38/76/387629_Bugatti.jpg");
    -fx-background-size:cover;
}

.label{
    -fx-font-family: "Andale Mono";
}

/*
 * S'applique au grand titre de la page d'acceuill
 */
#titleLabel{
    -fx-font-size: 20px;
    -fx-text-fill:white;
}
#spam{
    -fx-text-fill:white;
}


/*
 * S'applique au bouton commencer #669966
 */
#commencer {
    -fx-font-size: 13pt;
    -fx-background-color: #0080ff;
    -fx-text-fill:white;
    -fx-border-radius: 15px;
    -fx-font-width: 2pt;
}

/*
 * S'applique à tous les objets TextField et PasswordField
 */
.titre {
    -fx-font-size: 12pt;
    /* On utilise fill ici, car Text n'est pas un enfant, mais partie intégrante de l'objet */
    -fx-fill: #9999cc;
    -fx-font-family: "Andale Mono";
}

TextField, PasswordField {
    -fx-background-color: #fff;
    -fx-text-fill: #aaaacc;
    -fx-font-size: 10pt;
    -fx-font-width: 2pt;
    -fx-font-family: "Andale Mono";
}

#connexion {
    -fx-background-color: blue;
    -fx-text-fill:white;
    -fx-font-size: 10pt;
    -fx-font-family: "Andale Mono";
}

#enregistrer {
    -fx-background-color:#000;
    -fx-text-fill:white;
    -fx-font-size: 10pt;
    -fx-font-family: "Andale Mono";
}